$color0: #f4f2ed; //main background
$color1: #000000; //text color
$color2: #2b5d93; //links and subtitles
$color3: #feae00; //main title and lines
$color4: #2b5d93; //header, footer, subtitles. currently same as 2

$scratch: #516b8c;

* {
    margin: 0;
    padding: 0;
}

body {
    padding-top: 0;
    background-color: $color0;
    margin: 0;
    font-family: sans-serif;
    color: $color1;
}

h2 {
    font-size: 15pt;
    color: $color2;
}

a {
    color: $color2;
    text-decoration: none;
}

a:visited {
    color: $color2;
}

a:hover {
    text-decoration: underline;
}

#content_wrapper {
    margin: 20px auto;
    min-width: 60em;
    max-width: 70em;
}

#content_area {
    li {
        margin-left: 2em;
    }

    iframe {
        margin-bottom: 1em;
    }

    .post_date {
        margin-bottom: 1.5em
    }

    #view_comments {
        margin-top: 1.5em;
    }

    blockquote {
        margin-left: 2em;
        margin-right: 2em;
        background-color: beige;
    }
}

#title_area {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    background-color: $color4;
    padding-top: 20px;
    padding-bottom: 20px;
    
    h1 {
        color: $color3;
        float: left;
        border-right: 1px solid $color3;
        margin-left: 10px;
        padding: 0 0.5em 0 0;
        height: 50px;
        a {
            color: $color3;
        }
    }

    #tagline{
        height: 50px;
        float: left;
    }

    h2 {
        margin-left: 10px;
        font-size: 15pt;
        color: $color3;
    }
}
#content_area {
    width: 600px;
    float: left;
    width: 67%;
}

.post {
    margin-bottom: 20px;
    h2 {
        margin-bottom: 10px;
    }

    p {
        margin-bottom: 10px;
    }
}

.actual_blog_content {
    margin-bottom: 1em;
}

.widgity_thing {
}

#sidebar {
    margin-left: 35px;
    width: 300px;
    float: left;
}

.widgety_thing {
    margin-bottom: 15px;

    p {
        margin-bottom: 10px;
    }

    h2 {
        border-bottom: 1px solid $color3;
        margin-bottom: 10px;
    }

    ul {
        padding-left: 0;
    }

    li {
        min-height: 22px;
        list-style-type: none;
        padding-left: 2em;
        margin-bottom: 1em;    
    }

    .github_link{
        background: url("/images/lil_cat.png") left 10% no-repeat;
    }

    .atom_link{
        background: url("/images/lil_rss.png") left 10% no-repeat;
    }

    .tweet_list {
        li {   
            background: url("/images/lil_bird.png") left 10% no-repeat;
        }
    }

    .tags_list {
        li {
            background: url("/images/lil_tag.png") left 10% no-repeat;
        }
    }

    .recent_list {
        li {
            background: url("/images/lil_speech.png") left 10% no-repeat;
        }
    }
}


.clear {
    clear: both;
}


#disqus_thread {
    #dsq-subscribe {display: none}
}

#footer{
    clear: both;
    background-color: $color4;
    height: 65px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 30px;
    margin-bottom: 0;

    padding: 10px;

    color: $color3;

    a, a:visited {
        text-decoration: underline;
        color: $color3;
    }
}

img {
    margin-bottom: 10px;
}